@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 23px;
  width: 100%;
  height: 100vh;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #3f3e3e;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}

h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

.tabs {
  width: 1500px;
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
}

.tabs li {
  float: left;
  display: block;
}

.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #8e44ad;
  cursor: pointer;
  position: relative;
  top: 4px;
  transition: all 0.2s ease-in-out;
}

.tabs label:hover {
  background: #7d3c92;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #7d3c92;
}

#tab-content1 .tab-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: top;
}

#tab-content1 .photo {
    flex: 1;
    margin-right: 20px;
}

#tab-content1 .photo img {
    width: 100%;
    max-width: 300px;
    display: block;
}

#tab-content1 .content {
    flex: 5;
}

#tab-content1 h2 {
    z-index: 2;
    margin-bottom: 10px;
}

#tab-content2 {
    text-align: center;
}

#tab-content2 h2, h3, h4 {
    margin-top: 40px;
    margin-bottom: 10px;
}

#p1 {
    margin-bottom: 10px;
}

#p2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#tab-content3 h2 {
    margin-bottom: 10px;
}

#tab-content3 h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

[id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #7d3c92;
}

[id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}

p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #7d3c92;
  transition: all 0.2s ease-in;
}

p.link a:hover {
  background-color: #6c327d;
}

#tab-content4 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

#tab-content5 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

#p3 {
  margin-bottom: 10px;
}

#p4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tab-content6 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

#tab-content6 h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#tab-content6 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 19px;
}

#tab-content6 h5 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

#tab-content7 h2 {
  margin-bottom: 10px;
  font-size: 22px;
}